<% provide(:title, "HOME") %>
<h1>CurryApp</h1>
<div class="jumbtron jumbotron-fluid jumbotron-extend">
    <div class="container">
        <h1>Curry</h1>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>

<div class="container">
    <div class="container discription-container">
        <div class="row">
            <div class="col-md-4">
                <div class="discription-img-contaner">
                    <%= image_tag 'curry-image2', class: 'discription-img' %>
                </div>
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="col-md-4">
                <div class="discription-img-container">
                    <%= image_tag 'curry-image2', class: 'discription-img' %>
                </div>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>